.sliders-white {
  background-color: rgba(255, 255, 255, 0.12);
}
.sliders-white .noUi-connect {
  background: #ffffff !important;
}
.sliders-white.noUi-connect {
  background: #ffffff !important;
}
.sliders-white .noUi-handle {
  border-color: #ffffff !important;
}

.sliders-black {
  background-color: rgba(29, 29, 29, 0.12);
}
.sliders-black .noUi-connect {
  background: #1d1d1d !important;
}
.sliders-black.noUi-connect {
  background: #1d1d1d !important;
}
.sliders-black .noUi-handle {
  border-color: #1d1d1d !important;
}

.sliders-dark {
  background-color: rgba(75, 75, 75, 0.12);
}
.sliders-dark .noUi-connect {
  background: #4b4b4b !important;
}
.sliders-dark.noUi-connect {
  background: #4b4b4b !important;
}
.sliders-dark .noUi-handle {
  border-color: #4b4b4b !important;
}

.sliders-light {
  background-color: rgba(246, 246, 246, 0.12);
}
.sliders-light .noUi-connect {
  background: #f6f6f6 !important;
}
.sliders-light.noUi-connect {
  background: #f6f6f6 !important;
}
.sliders-light .noUi-handle {
  border-color: #f6f6f6 !important;
}

.sliders-primary {
  background-color: rgba(46, 60, 90, 0.12);
}
.sliders-primary .noUi-connect {
  background: #2e3c5a !important;
}
.sliders-primary.noUi-connect {
  background: #2e3c5a !important;
}
.sliders-primary .noUi-handle {
  border-color: #2e3c5a !important;
}

.sliders-secondary {
  background-color: rgba(130, 134, 139, 0.12);
}
.sliders-secondary .noUi-connect {
  background: #82868b !important;
}
.sliders-secondary.noUi-connect {
  background: #82868b !important;
}
.sliders-secondary .noUi-handle {
  border-color: #82868b !important;
}

.sliders-success {
  background-color: rgba(40, 199, 111, 0.12);
}
.sliders-success .noUi-connect {
  background: #28c76f !important;
}
.sliders-success.noUi-connect {
  background: #28c76f !important;
}
.sliders-success .noUi-handle {
  border-color: #28c76f !important;
}

.sliders-info {
  background-color: rgba(0, 207, 232, 0.12);
}
.sliders-info .noUi-connect {
  background: #00cfe8 !important;
}
.sliders-info.noUi-connect {
  background: #00cfe8 !important;
}
.sliders-info .noUi-handle {
  border-color: #00cfe8 !important;
}

.sliders-warning {
  background-color: rgba(255, 159, 67, 0.12);
}
.sliders-warning .noUi-connect {
  background: #ff9f43 !important;
}
.sliders-warning.noUi-connect {
  background: #ff9f43 !important;
}
.sliders-warning .noUi-handle {
  border-color: #ff9f43 !important;
}

.sliders-danger {
  background-color: rgba(234, 84, 85, 0.12);
}
.sliders-danger .noUi-connect {
  background: #ea5455 !important;
}
.sliders-danger.noUi-connect {
  background: #ea5455 !important;
}
.sliders-danger .noUi-handle {
  border-color: #ea5455 !important;
}
